<div class="panel panel-default">
    <div class="panel-heading">
        Scenarios
        <div class="">
            <button class="btn btn-primary" ng-click="$ctrl.add()">Add</button>
        </div>
    </div>
    <div class="panel-body">

        <div ng-repeat="scenario in $ctrl.scenarios" class="panel panel-default">
            <div class="panel-heading">
                {{scenario.name}}
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Given</span>
                        <input type="text" class="form-control" ng-model="scenario.given" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">When</span>
                        <input type="text" class="form-control" ng-model="scenario.when" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Then</span>
                        <input type="text" class="form-control" ng-model="scenario.then" />
                    </div>
                </div>

            </div>
            <div class="panel-footer">
                <button class="btn btn-danger" ng-click="$ctrl.remove(scenario)">Remove</button>
                <button class="btn btn-default" ng-click="$ctrl.copy(scenario)">Copy</button>
            </div>
        </div>
    </div>
</div>