<div class="panel panel-default">
    <div class="panel-heading clearfix">
        Scenarios
        <span class="btn-group pull-right">
            <button class="btn btn-primary" ng-click="$ctrl.addScenario()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</button>
        </span>
    </div>
    <div class="panel-body viewport-scrollable">
        <div ng-repeat="scenario in $ctrl.scenarios track by $index" class="panel panel-default" ng-attr-id="{{'Scenario' + $index}}">
            <div class="panel-heading clearfix">
                <span editable-text="scenario.name">{{scenario.name || "Unnamed Scenario"}}</span>
                <div class="btn-group pull-right">
                    <button class="btn btn-default" ng-click="$ctrl.copyScenario($index)"><span class="glyphicon glyphicon-copy"></span>&nbsp;Copy</button>
                    <button class="btn btn-danger" ng-click="$ctrl.removeScenario($index)"><span class="glyphicon glyphicon-remove"></span>&nbsp;Remove</button>
                </div>
            </div>
            <div class="panel-body">
                <div ng-repeat="behaviour in scenario.behaviours" class="form-group">
                    <behaviour-part behaviour="behaviour"></behaviour-part>
                </div>
            </div>
        </div>
    </div>
</div>