<div class="panel panel-default">
    <div class="panel-heading">
        Scenarios
        <button class="btn btn-primary" ng-click="$ctrl.add()">Add</button>
    </div>
    <div class="panel-body">
        <div ng-repeat="scenario in $ctrl.scenarios" class="panel panel-default">
            <div class="panel-heading">
                <span editable-text="scenario.name">{{scenario.name || "Unnamed Scenario"}}</span>
            </div>
            <div class="panel-body">
                <div ng-repeat="behaviour in scenario.behaviours" class="form-group">
                    <behaviour-part behaviour="behaviour"></behaviour-part>
                </div>

            </div>
            <div class="panel-footer">
                <button class="btn btn-danger" ng-click="$ctrl.remove(scenario)">Remove</button>
                <button class="btn btn-default" ng-click="$ctrl.copy(scenario)">Copy</button>
            </div>
        </div>
    </div>
</div>