html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}


.row-margin-bottom {
    margin-bottom: 5px;
}

.viewport-scrollable {
    max-height: 80vh;
    overflow-y: scroll;
}

.inline {
    display: inline-block
}

.vertical-center {
    vertical-align: middle;
    float: none;
}

.autoscroll {
    overflow: hidden;
    margin: 3em;
}

    .autoscroll:hover {
        overflow-y: auto;
        /*padding-right: 1px;*/
    }
